.searchform {
  display: inline;
}

.searchform input {
  outline: none;
  padding: .1rem;
  height: 1.7rem;
  border: none;
}


.searchform button {
  background-color: #30BF46;
  border: none;
  padding: .5rem;
  cursor: pointer;
}

.searchform button:hover {
  background-color: rgb(39, 156, 57);
} 

.searchicon svg path { color: lime; }